.card {
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #9ca3af;
    height: 100%;

}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px;
    color: #9ca3af;
}

.people-list .chat-list li:hover {
    background: #131313;
    cursor: pointer;
}

.people-list .chat-list li.active {
    background: #131313;
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #9ca3af;
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    color: #9ca3af;
}

.chat .chat-history {
    height: 530px;
    padding: 20px;
    /*border-bottom: 2px solid #131313; */
    box-shadow: inset 0px -4px 9px 0px #131313;
}

.chat .chat-history ul {
    padding: 0;
    height: 100%;
}

.chat .chat-history ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .chat-history ul li:last-child {
    margin-bottom: 0px
}

.chat .chat-history .message-data {
    margin-bottom: 15px
}

.chat .chat-history .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .chat-history .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .chat-history .message {
    color: #9ca3af;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    /*left: 7%;*/
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}





.chat .chat-history .other-message {
    background: #9ca3af;
    color: black;
    font-weight: bold;
}

.chat .chat-history .other-message:after {
    bottom: 100%;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #9ca3af;
    border-width: 10px;
    margin-left: -10px
}






.chat .chat-history .my-message {
    /*background: #e8f1f3;*/
    background: #131313;
    text-align: right
}

.chat .chat-history .my-message:after {
    /*border-bottom-color: #e8f1f3;*/
    border-bottom-color: #131313;
    /*left: 68%*/
}









.chat .chat-message {
    padding: 20px;
    position: absolute;
    bottom: 0;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .chat-history {
        height: 550px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        /*overflow-x: auto*/
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        /*overflow-x: auto*/
    }
}


/*  ====  */
.message{
    max-width: 50%;
}

.messages .card{
 background-color: #1e1e1e;
 height: 90vh;

}
.chat-history ul{
    overflow-y: scroll;
}
.chat-message {
    width: 100%;
}
.msInput input{
    height: 40px;
    border-radius: 5px;
    background: #131313;
    outline: none;
    border: none;
    color: #9ca3af;
    font-weight: bold;
    padding: 5px 15px;
    width: 100%;
}

.msInput {
    width: 100%;
}
.sendBtn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.sendBtn button{
    background: #131313;
    color: #9ca3af;
    border: none;
}
.fileChoserIcon{
    color: #9ca3af;
    font-size: 25px;
    cursor: pointer;
}