.chat-app {
  background-color: #1e1e1e;
  height: 85vh;
}
.chat-app .people-list {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 7;
}
.people-list ul {
  height: 100%;
  overflow-y: scroll;
}

.chat-app .chat {
  margin-left: 280px;
  border-left: 1px solid #9ca3af;
  height: 100%;
  position: relative;
}

.chat .msgInput {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #1e1e1e;
  box-shadow: 1px 1px 9px 1px #131313;
}

.people-list {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 5px;
  color: #9ca3af;
}

.selectedChat {
  background: #1212125e !important;
}
span.listImg {
  width: 45px;
  display: block;
  height: 45px;
  position: relative;
  float: left;
}

span.listImg.active::after {
  background: #4caf50 !important;
  display: block;
  width: 10px;
  height: 12px;
  content: "";
  border-radius: 50%;
  position: absolute;
  bottom: 1px;
  right: 1px;
}

.people-list .chat-list li:hover {
  background: #131313;
  cursor: pointer;
}

.people-list .chat-list li.active {
  background: #131313;
}

.people-list .chat-list li .name {
  font-size: 15px;
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%;
}

.people-list img {
  float: left;
  border-radius: 50%;
}

.people-list .about {
  float: left;
  padding-left: 8px;
}

.people-list .status {
  color: #999;
  font-size: 13px;
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #9ca3af;
  position: absolute;
  width: 100%;
  z-index: 9999999;
  background: #1e1e1e;
  box-shadow: 1px 1px 9px 2px #131313;
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  color: #9ca3af;
}

.chat .chat-history {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 70px;
  box-shadow: inset 0px -4px 9px 0px #131313;
  overflow-y: scroll;
}

.chat .chat-history ul {
  padding: 0;
  height: 100%;
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px;
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px;
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: #9ca3af;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .other-message {
  background: #9ca3af;
  color: black;
  font-weight: bold;
}

.chat .chat-history .other-message:after {
  bottom: 100%;
  left: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #9ca3af;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  background: #131313;
  text-align: right;
  float: right;
}

.chat .chat-history .my-message:after {
  border-bottom-color: #131313;
}

.chat .chat-message {
  padding: 20px;
  position: absolute;
  bottom: 0;
}

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle;
}

.online {
  color: #86c541;
}

.offline {
  color: #e47297;
}

.me {
  color: #1d8ecd;
}

.float-right {
  float: right;
}

.clearfix {
  margin-bottom: 20px !important;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.message {
  max-width: 50%;
}

.messages .card {
  background-color: #1e1e1e;
  height: 84vh;
}

.chat-message {
  width: 100%;
}
.msInput input {
  height: 40px;
  border-radius: 5px;
  background: #131313;
  outline: none;
  border: none;
  color: #9ca3af;
  font-weight: bold;
  padding: 5px 15px;
  width: 99%;
}

.msInput {
  width: 100%;
  position: relative;
}
.sendBtn {
  font-size: 20px;
}

.sendBtn button {
  background: #29222200;
  color: #9ca3af;
  border: none;
}
.fileChoserIcon {
  color: #9ca3af;
  font-size: 25px;
  cursor: pointer;
}

.msgLoadingAnm div {
  display: flex;
  width: 30px;
  margin: auto;
}

.img-popup {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(20px);
  height: 100%;
  top: 0;
  z-index: 9;
  left: 0;
}
.popUpContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addEmoji {
  position: absolute;
  right: 3%;
  top: 50% !important;
  transform: translate(0, -50%);
}

.addEmoji span button {
  margin-left: -10px !important;
}
.emoji {
  background: transparent !important;
  font-size: 60px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.emoji::after {
  border: none !important;
}

.people-list {
  width: 25%;
}
.chat {
  width: 75%;
}

@media only screen and (min-width: 768px) and (max-width: 993px) {
  .people-list {
    width: 18% !important;
  }
  .chat {
    width: 82% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .people-list .chat-list li .name {
    font-size: 14px;
  }
}
@media only screen and (max-width: 993px) {
  .people-list .chat-list .about {
    display: none;
  }
}
