.coverFadeBottom {
  /*	background: linear-gradient(0deg, #121212, #cccccc);
    height: 75px;*/
  background: linear-gradient(0deg, #121212, #cccccc00);
  height: 100%;
  bottom: -7px !important;
}

.profilePhoto {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 25%;
}

.p-btn {
  background: #03dac6 !important;
  padding: 3px 10px !important;
  font-weight: 500 !important;
  margin: 0 5px;
}

@media screen and (max-width: 680px) {
}
@media screen and (min-width: 992px) {
  .profilePhoto {
    width: 16%;
  }
}

.bio {
  background: #1e1e1e;
  color: #9ca3af;
  margin-top: 20px;
}
.bio p {
  font-size: 15px;
}
.userPosts {
  background: #1e1e1e;
  color: #9ca3af;
}
.bio p {
  font-weight: bold;
}

.profile_img_uploader {
  font-size: 34px;
  color: #9e9e9e;
  position: absolute;
  right: 15px;
  bottom: 5px;
  cursor: pointer;
}
