.coverFadeBottom{
/*	background: linear-gradient(0deg, #121212, #cccccc);
    height: 75px;*/
    background: linear-gradient(0deg, #121212, #cccccc00);
    height: 100%;
    bottom: -7px !important;
}

.profilePhoto{
	position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 25%;
}
.bio{
	background: #1e1e1e;
    color: #9ca3af;
}
.userPosts{
	background: #1e1e1e;
    color: #9ca3af;
}