a {
  color: #9ca3af !important;
  text-decoration: none;
  font-weight: 700;
}

.social {
  width: 100px;
  position: fixed;
  top: 20px;
  z-index: 9999999;
}
.social ul {
  padding: 0px;
  transform: translate(-155px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: #1e1e1e;
  width: 210px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 0.5s;
}
.social ul li:hover {
  transform: translate(80px, 0);
}
/*.social ul li:hover a {
  color: #fff;
}*/
/*.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);

  transition: all 1s;
}*/
.social ul li i {
  margin-left: 10px;
  /*color: #000;*/
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  /*height: 20px;*/
  font-size: 20px;
  /*color: #03DAC6;*/
  color: #9ca3af;
  background: rgba(0, 0, 0, 0.36);
  transform: rotate(0deg);
}

/*body {
  background: #4F8B89;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}*/
